{%extends 'base.html'%}
{%block title%}Detail{%endblock title%}
<h1> This is Blog detail</h1>
{% block body %}
<div class="container my-5" align="center">
<p>Article by: {{ post.author }}</p>
<p>{{ post.posted_on }}</p>
<h1>{{ post.title }}</h1>

{% if post.image %}
<img src={{post.image.url}} width="300" height="300"/>
{% endif %}

<p>{{ post.content }}</p>
<p>{{ post.slug }}</p>

<a href="{% url 'blogapp:update' post.pk %}" role="button" class="btn btn-outline-primary" >Edit</a>
<a href="{% url 'blogapp:delete' post.pk %}" role="button" class="btn btn-outline-primary" >Delete</a></br>
<div>
<a href="{% url 'blogapp:comment' post.pk %}" role="button" class="btn btn-secondary btn-lg btn-block dark my-2" >Read Comments</a>
</div>
</div>
{% endblock  %}
